.el-breadcrumb{
	margin-bottom: 28px;
}

hr{
	margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.u-bds{
	box-shadow: 0 0 4px rgba(0,0,0,.2);
	border-radius: 4px;
}

.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}